body {
    font-family: sans-serif;
}

footer {
    background-color:#225E79;
    padding: 2px;
}
p {
color: #024A68;
}
  h1 {
    text-align: center;
    color: #006363	;
  }
  img {
    border: 3px solid #1D7471;
      margin: 35px;
    
  }
  header {
    background-color:#006561	 ;
  }
  .top {
color: #A64A00	;
  }
  .rose {
    color: white;
  margin-left: 10px ;
  }
  
